apiVersion: apps/v1
kind: Deployment
metadata:
  name: mongodb-deployment
  labels:
    app: mongodb
spec:
  replicas: 1
  selector:
    matchLabels:
      app: mongodb
  template:
    metadata:
      labels:
        type: local
        app: mongodb
    spec:
      containers:
        - name: mongodb
          image: mongo
          resources:
            requests:
              memory: "0.5Gi"
            limits:
              memory: "0.75Gi"
              cpu: "1"
          ports:
            - name: mongodbport
              containerPort: 27017
              protocol: TCP
          env:
            - name: MONGO_INITDB_ROOT_USERNAME
              valueFrom:
                secretKeyRef:
                  name: mongodb-secret
                  key: mongo-root-password 
            - name: MONGO_INITDB_ROOT_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: mongodb-secret
                  key: mongo-root-password
---
kind: Service
apiVersion: v1
metadata:
  name:  mongodb-service
spec:
  selector:
    app:  mongodb
  type:  ClusterIP
  ports:
  - name:  TCP
    port:  27017
    targetPort:  27017